/*Sakura animation using WebGL. No images are used. The framerate might be slow or the demo might not play at all in some older systems so you can watch this video: http://www.screenr.com/BFZ8. Let me make it clear that I did not make this and just thought is was very cool and wanted to share it.
*/



body {
    padding:0;
    margin:0;
    overflow:hidden;
	height: 600px;
    min-height: 100vh;

    /* 改为插入背景图片的样式则加入以下代码
    background-image: url(../picture/background.png); */

}
canvas {
    padding:0;
    margin:0;
}
div.btnbg {
    
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
